/**********************************/
/********* Timeline 5 CSS *********/
/**********************************/

*,
*::before,
*::after {
    box-sizing: border-box;
}

.roadmap {
    font-family: Arial, Helvetica, sans-serif;    
    background: #ffffff;
}

.roadmap .timeline {
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px 0;
}

.roadmap .timeline::after {
    content: '';
    position: absolute;
    width: 5px;
    background: #E94B3C;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -2.5px;
}

.roadmap .container {
    padding: 30px 60px;
    position: relative;
    background: inherit;
    width: 50%;
}

.roadmap .container.left {
    margin-left: 0;
    left: 0;
}

.roadmap .container.right {
    margin-left: 0;
    left: 50%;
}

.roadmap .container .icon {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 60px;
    top: 30px;
    right: -30px;
    padding: 9px 0;
    background: #ffffff;
    border: 5px solid #E94B3C;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    color: #E94B3C;
    z-index: 1;
}

.roadmap .container.right .icon {
    left: -30px;
}

.roadmap .container .date {
    position: absolute;
    display: inline-block;
    height: 30px;
    min-width: 60px;
    top: 45px;
    padding: 1px;
    background: #E94B3C;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    z-index: -1;
    letter-spacing: 0;
}

.roadmap .container.left .date {
    right: -86px;
    border-radius: 0 30px 30px 0;
}

.roadmap .container.right .date {
    left: -86px;
    border-radius: 30px 0 0 30px;
}

.roadmap .container::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 50px;
  right: 28px;
  z-index: 1;
  border: 10px solid;
  border-color: transparent #E94B3C transparent transparent;
}

.roadmap .container.right::before {
  left: 28px;
  border-color: transparent transparent transparent #E94B3C;
}

.roadmap .container .content {
    padding: 30px 45px;
    background: #ffffff;
    position: relative;
    border: 5px solid #eeeeee;
    border-radius: 500px 0 500px 500px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

.roadmap .container.right .content {
    border-radius: 0 500px 500px 500px;
}

.roadmap .container .content h2 {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: normal;
    color: #E94B3C;
}

.roadmap .container .content p {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    color: #454545;
}

@media (max-width: 767.98px) {
.roadmap     .timeline::after {
        left: 90px;
    }

.roadmap     .container {
        width: 100%;
        padding-left: 135px;
        padding-right: 30px;
    }
    
.roadmap     .container.right {
        left: 0%;
    }

.roadmap     .container.left .icon, 
.roadmap     .container.right .icon {
        width: 45px;
        height: 45px;
        top: 37.5px;
        font-size: 18px;
        left: 67.5px;
    }
    
.roadmap     .container.left::before,
.roadmap     .container.right::before {
        left: 110px;
        border-color: transparent transparent transparent #E94B3C;
    }
    
.roadmap     .container.left .date,
.roadmap     .container.right .date {
        right: auto;
        left: 15px;
        border-radius: 30px 0 0 30px;
    }
    
.roadmap     .container.left .content,
.roadmap     .container.right .content {
        border-radius: 0 500px 500px 500px;
    }
}

.progress-container {
    width: 100%;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.progress-bar {
    width: 0; /* Initial width is 0% */
    height: 10px; /* Thinner progress bar */
    background-color: #4CAF50; /* Green color for the progress */
    border-radius: 4px;
    transition: width 0.5s ease-in-out; /* Smooth animation */
}

.percentage {
    padding: 0 10px;
    font-weight: bold;
    color: #333; /* Text color */
}